.customer-general-form{
  width: 100%;
  background: transparent;
  max-width: 515px;
  border-radius: 4px;
  padding: 20px 0px;
}
@media (max-width: 993px) { 
  .mobile-section {
    display: none !important;
  }
  .header-img-section{
    text-align: center;
  } /*16 Sep */
  .pc-section{
    width: 100% !important;
  }
}
@media (min-width: 690px) and (max-width: 993px) { 
  .login-section {
    padding: 4em;
  }
}
.login-section{
  width: 1200px;
}
.btn-bg-color{
  background-color: var(--secondary-color) !important;
  color: #FFFFFF;
  font-weight: 600;
  padding: 8px 32px;
}
.customer-general-form .form-input-field {
  padding:14px;
  border: 0.5px solid #E6E6E6;
  border-radius: 8px;
}
.form-input-field::placeholder{
  font-weight: 400;
  color: #A0A0A0;
}
.btn-fixed-color{
  color: #0064A9 !important; 
  font-weight: 700;
  font-family: "Roboto", sans-serif !important ;
}
.login-methods button{
  background: transparent;
  font-size: 17px;
  border: 1px solid #A0A0A0 !important ;
  color: #666666;
  border-radius: 23px;
  font-weight: 600;
}
.login-methods button img{
  padding-right: 5px;
}
.divider {
  display: flex !important;
  align-items: center;
  text-align: center;
}
.section-footer .divider::before, .divider::after {
  content: '' !important;
  flex: 1 !important;
  border-bottom: 1px solid #ccc !important;
}
.section-footer .divider:not(:empty)::before {
  margin-right: .25em;
}
.section-footer .divider:not(:empty)::after {
  margin-left: .25em;
}
.section-header .title-msg{
  color: #A0A0A0 !important;
  font-size: 14px;
  font-weight: 500;
  line-height: 22.4px;
}
.sign-in-button .btn-signin{
  padding: 14px !important;
}
.section-head .welcome{
  color:#0064A9;font-size:40px;font-weight:500;line-height:48.76px;
}
.text-para{
  font-size: 15px;padding-top:0.5em;color: #333333 !important;
}
.sign-in-btn-left-section{
  border: 1px solid #0064A9 !important; 
}
.header-img-section{
  padding: 1em;
}
.top-section{
  border-top: 1px solid #E6E6E6;
}
.terms_condition{
  color: #0064A9 !important;
  text-decoration: underline;
  font-weight: 500;
}
.login-left-section{
  background: #DCEDFF;margin: 2em 1em;border-radius:20px
}
.customer-general-form .form-label{
  color: #666666 !important;
  font-weight: 600;
  font-family: "Roboto", sans-serif !important ;
}


@media (max-width: 768px) {
  header {
      font-size: 1.2rem;
      padding: 10px;
  }
  body {
      margin-top: 60px; /* Adjust according to your header's height */
  }
}


/* 18 sep  */
.reset-pass-msg{
  display: block;
  padding: 4px 15px;
  background-color: #accbe3 !important;
  color: #000000; 
  border: 1px solid #007bff; 
  border-radius: 5px; 
  font-size: 16px;
  margin: 15px 0; 
  text-align: center;
}